.row
  .col-xs-12
    h4= label

  .col-xs-12
    .btn-group.w-100
      a.btn.btn-success-outline.w-50( href='#passwords/' + id + '/edit' )
        i.fa.fa-fw.fa-pencil

      a.btn.btn-danger-outline.w-50( data-click='destroy' )
        i.fa.fa-fw.fa-trash

  .col-xs-12.json-viewer.m-t-1
    pre
      for each in json
        span= each
