.row
  .col-xs-12( data-region='devices' )
    //- //- h4 Device List

    //- ul.list-group
    //-   each device in items
    //-     a.list-group-item( href='#devices/' + device.device )
    //-       //- .row
    //-       //-   .col-xs-12= device.device
    //-       .row
    //-         .col-xs-8
    //-           = device.productName

    //-         .col-xs-4
    //-           strong.p-r-1 Vendor ID:
    //-           = device.vendorId
