mixin remoteKey(icon, keyCode, text)
  a.card.card-block( data-keycode=keyCode, data-haptic=true )
    h4.card-title.text-center.m-b-0
      if icon
        i.fa.fa-fw( class=icon )
      if text
        = text


.row
  .col-xs-4.col-xs-push-4
    +remoteKey('fa-arrow-up', '24')

.row
  .col-xs-4
    +remoteKey('fa-arrow-left', '27')

  .col-xs-4
    +remoteKey(null, '32', 'Space')

  .col-xs-4
    +remoteKey('fa-arrow-right', '26')

.row
  .col-xs-4.col-xs-push-4
    +remoteKey('fa-arrow-down', '25')
