.col-xs-12.text-center
  .alert.alert-dismissible.fade.in( role='alert' class="alert-" + context )

    if dismissible
      button.close( type='button' data-click='dismiss' aria-label='Close' )
        span( aria-hidden='true' ) ×
        span.sr-only Close

    if strong
      strong= strong + " "

    if message
      = message
