.row
  .col-xs-12
    h4 Device List

    ul.list-group
      each device in items
        a.list-group-item( href='#devices/' + device.id )
          .row
            .col-xs-12= device.id
          .row
            .col-xs-8= device.name
            .col-xs-4= device.rssi
