//- ons-list-header Controls

if connected

  ons-list-item
    ons-button( modifier="large" data-click='disconnect' ) Disconnect

  ons-list-item
    .center
      | Auto Connect
    .right
      ons-switch(checked=known)

else
  ons-list-item
    ons-button( modifier="large" data-click='connect' ) Connect
