.row
  .col-xs-12
    h4 Device Show

  .col-xs-12
    span.label.m-r-1( data-display='connection' )

  .col-xs-12(data-region='rssi')

  .col-xs-12.m-t-1
    a.btn.btn-primary-outline( data-click='connect' ) Connect
    a.btn.btn-primary-outline( data-click='disconnect' ) Disconnect

  .col-xs-12.json-viewer.m-t-1
    pre
      for each in json
        span= each
