//- TODO - abstract into a helper file
mixin ons_toolbar(name)
  ons-toolbar
    .left
      ons-toolbar-button(onclick='fn.open()')
        ons-icon(icon='md-menu')
    .center= name

//- // // // // //

+ons_toolbar(name)

ons-list
  ons-list-item= name
  ons-list-item= id

ons-row
  ons-col(data-region='controls')


//- .col-xs-4(data-region='rssi')
//- .col-xs-12.m-t-1(data-region='controls')
//- .col-xs-12.m-t-1(data-region='details')
