nav.navbar.navbar-inverse.navbar-static-top

  a.navbar-brand( href='#' )
    //- i.fa.fa-fw.fa-thumb-tack
    //- | &nbsp;
    //- | Tack

    i.fa.fa-fw.fa-usb
    | &nbsp;
    | Lyrebird

  ul.nav.nav-pills

    li.nav-item
      a.nav-link( href='#devices' style='touch-action:none;' )
        i.fa.fa-fw.fa-bluetooth-b

    li.nav-item
      a.nav-link.sidebar-btn
        i.fa.fa-fw.fa-square

    //- li.nav-item
    //-   a.nav-link( href='#about' )
