include ../../../../../../partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Password
.col-xs-12
  +formInput({ label: 'Password', placeholder: 'Password', name: 'password', type: 'password' })

//- Submit
.col-xs-12
  +submitButton({})
