ons-row
  ons-col
    p= name

  //- ons-col
  //-   ons-button
  //-     ons-icon(icon='refresh')

  //- ons-row
  //-   .col-xs-8.text-muted= id
  //-   .col-xs-4
  //-     span.label.label-primary= 'RSSI: ' + rssi
