//- TODO - abstract into a helper file
mixin ons_toolbar(name)
  ons-toolbar
    .left
      ons-toolbar-button(onclick='fn.open()')
        ons-icon(icon='md-menu')
    .center= name

+ons_toolbar('Devices')

ons-pull-hook#pull-hook(data-pull='refresh')
  | Pull to refresh
  //- ons-progress-circular(indeterminate)

ons-row
  ons-col( data-region='list' )
