.row
  .col-xs-12
    h4 Device List

  .col-xs-12.m-t-1
    button.btn.btn-primary-outline.w-100( data-click='refresh' )
      i.fa.fa-fw.fa-refresh
      | Refresh

  .col-xs-12.m-t-1( data-region='list' )
