//- TODO - abstract into a helper file
mixin ons_toolbar(name)
  ons-toolbar
    .left
      ons-toolbar-button(onclick='fn.open()')
        ons-icon(icon='md-menu')
    .center= name

+ons_toolbar('Devices')
ons-row
  ons-col

    ons-button(modifier="large" data-click='refresh' ) Refresh
    ons-button.interfaces(modifier="large") Interfaces

    ons-row
      ons-col( data-region='list' )


