ons-page
  ons-row
    ons-col

      ons-button(modifier="large" data-click='refresh' ) Refresh

      //- button.btn.btn-primary-outline.w-100( data-click='refresh' )
      //-   i.fa.fa-fw.fa-refresh
      //-   | Refresh

      ons-row
        ons-col( data-region='list' )
