mixin ons_toolbar(name)
  ons-toolbar
    .left
      ons-toolbar-button(onclick='fn.open()')
        ons-icon(icon='md-menu')

    .center= name

    .right

      //- TODO - cross platform button
      ons-toolbar-button(component='button/new-task')
        ons-icon(icon='ion-plus, material:md-menu', size='32px, material:24px')

//- ons-page
+ons_toolbar('Snippets')

ons-row
  ons-input#keyboard(modifier='underbar', placeholder='Keyboard', float='')

ons-row
  ons-button.send(data-click='send') SEND
