mixin remoteKey(icon, keyCode, text)
  .btn.btn-primary-outline.w-100( data-keycode=keyCode, data-haptic=true )
    h4.card-title.text-center.m-b-1.m-t-1
      if icon
        i.fa.fa-fw( class=icon )
      if text
        = text

.col-xs-12
  .row
    .col-xs-12
      input.form-control.form-control-lg.w-100( name='keyboard', placeholder='Hello from Lyrebird!' )

  .row.m-t-1
    .col-xs-12
      .btn.btn-primary-outline.w-100( data-click='send' data-haptic=true )
        h4.card-title.text-center.m-b-1.m-t-1
          i.fa.fa-fw.fa-envelope-o
          | Send

  .row
    .col-xs-12
      hr

  .row
    .col-xs-12
      +remoteKey(null, 'enter', 'Enter')

  .row.m-t-1
    .col-xs-12
      +remoteKey(null, 'back', 'Backspace')

