mixin numKey(num, keyCode)
  a.btn.btn-secondary.numkey( data-keycode=keyCode, data-haptic=true )&attributes(attributes)
    .text= num

.row
  .col-xs-12
    h4 Keyboard Interface

.row
  .col-xs-12
    .num-row
      +numKey('NUM', '24')
      +numKey('/', '24')
      +numKey('*', '85')
      +numKey('-', '86')

    .num-row
      +numKey('7', '95')
      +numKey('8', '96')
      +numKey('9', '97')

    .num-row
      +numKey('4', '92')
      +numKey('5', '93')
      +numKey('6', '94')
      +numKey('+', '87')&attributes({ 'class': 'tall' })

    .num-row
      +numKey('1', '89')
      +numKey('2', '90')
      +numKey('3', '91')

    .num-row
      +numKey('0', '98')&attributes({ 'class': 'zero' })
      +numKey('.', '99')
      +numKey('ENTER', '88')&attributes({ 'class': 'tall' })

