//- ons-carousel#carousel(fullscreen swipeable='', auto-scroll='', overscrollable='', style="height: 80px;")

//- TODO - abstract
mixin ons_toolbar(name)
  ons-toolbar
    .left
      ons-toolbar-button(onclick='fn.open()')
        ons-icon(icon='md-menu')
    .center= name

//- Keys for remote
mixin remoteKey(icon, keyCode, text)
  ons-button(data-keycode=keyCode)
    if icon
      ons-icon(icon=icon)
    if text
      = text

//-
+ons_toolbar('Interfaces')
ons-carousel#carousel(fullscreen swipeable auto-scroll overscrollable)
  ons-carousel-item(style='background-color: #085078;')
    div(style='text-align: center; font-size: 30px; margin-top: 20px; color: #fff;')
      | Keyboard
      div(style='text-align: center; margin-top: 30px;')
        p
          ons-input#keyboard(modifier='underbar', placeholder='Keyboard', float='')

        p(style='margin-top: 30px;')
          ons-button(data-click='send') SEND

  ons-carousel-item(style='background-color: #373B44;')
    div(style='text-align: center; font-size: 30px; margin-top: 20px; color: #fff;')
      | Mouse
      p.position(style='display:none;') Mouse Position:

      canvas( id='mouse-canvas', style='background: grey; width: 100%; height: 400px;' )

      p(style='margin-top: 30px;')
        ons-button(data-click='left') LEFT
        ons-button(data-mouse='right') RIGHT

  ons-carousel-item(style='background-color: #D38312;')
    div(style='text-align: center; font-size: 30px; margin-top: 20px; color: #fff;')
      | Remote

      .col-xs-12
        .row.m-t-1
          .col-xs-6
            +remoteKey('arrow-left', 'left')

          .col-xs-6
            +remoteKey('arrow-right', 'right')

        .row.m-t-1
          .col-xs-12
            hr

        .row.m-t-1
          .col-xs-12
            +remoteKey('arrow-up', 'up')

        .row.m-t-1
          .col-xs-12
            +remoteKey('arrow-down', 'down')


        .row.m-t-1
          .col-xs-12
            hr

        .row.m-t-1
          .col-xs-12
            +remoteKey(null, 'enter', 'Enter')

        .row.m-t-1
          .col-xs-12
            +remoteKey(null, ' ', 'Space')

  ons-carousel-item(style='background-color: #D38312;')
    div(style='text-align: center; font-size: 30px; margin-top: 20px; color: #fff;')
      | QWERTY

      include ./qwerty
