mixin remoteKey(icon, keyCode, text)
  .btn.btn-primary-outline.w-100( data-keycode=keyCode, data-haptic=true )
    h4.card-title.text-center.m-b-1.m-t-1
      if icon
        i.fa.fa-fw( class=icon )
      if text
        = text

//- // // // // //

.col-xs-12
  .row.m-t-1
    .col-xs-6
      +remoteKey('fa-arrow-left', 'left')

    .col-xs-6
      +remoteKey('fa-arrow-right', 'right')

  .row.m-t-1
    .col-xs-12
      hr

  .row.m-t-1
    .col-xs-12
      +remoteKey('fa-arrow-up', 'up')

  .row.m-t-1
    .col-xs-12
      +remoteKey('fa-arrow-down', 'down')


  .row.m-t-1
    .col-xs-12
      hr

  .row.m-t-1
    .col-xs-12
      +remoteKey(null, 'enter', 'Enter')

  .row.m-t-1
    .col-xs-12
      +remoteKey(null, ' ', 'Space')
