.invis( data-swap='one' style='position:absolute; width:100%; animation-duration: #{animationSpeed}s' )
div( data-swap='two' style='position:absolute; width:100%; animation-duration: #{animationSpeed}s' )
