doctype html
html
  head
    //- meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    //- meta( name='viewport', content='width=device-width' )
    meta( charset='utf-8' )

    //- link( rel='stylesheet', type='text/css', href='css/app.min.css' )
    link( rel='stylesheet', type='text/css', href="css/onsenui.css")
    link( rel='stylesheet', type='text/css', href="css/onsen-css-components.css")

    title Lyrebird (Onsen UI)
  body

    include partials/app_region
    include partials/sidebar
    include partials/header
    include partials/tabs
    include partials/carousel


    //- .sidebar-region( data-region='sidebar' )
    //- .header-region( data-region='header' )
    //-   include ./partials/header

    //- .overlay-region( data-region='overlay' )
    //- .main-region( data-region='main' )
    //- .flash-region( data-region='flash' )
    //- .modal-region( data-region='modal' )

  script( src='cordova.js' )
  script( src='js/vendor.js' )
  script( src='js/app.js' )
