.row
  .col-xs-12
    .jumbotron

      h3.display-3 Firmware Updater

      p.lead Update your Lyrebird firmware

      hr.m-y-2

      p Latest version: 0.1.0

      p.lead
        a.btn.btn-primary.btn-lg(href='#devices') Find devices
