.row
  .col-xs-12
    h4 Passwords

  .col-xs-12
    a.btn.btn-secondary.w-100( href='#passwords/new' )
      i.fa.fa-fw.fa-plus

  .col-xs-12.m-t-1
    ul.list-group

      if items.length == 0
        li.list-group-item.list-group-item-warning.text-center
          | No Passwords

      each item in items

        a.list-group-item( href='#passwords/' + item.id )= item.id
